# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry virtual environments (if local)
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
hypothesis/
.pytest_cache/
tests/__pycache__/

# MyPy / Pyright
.mypy_cache/
.dmypy.json
.pyre/

# VS Code
.vscode/

# MacOS / system
.DS_Store
Thumbs.db

# Local env/IDE files
.env
.env.*
.idea/
*.swp

# MkDocs
/site/
