name: CI

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup-poetry

      - run: poetry install --no-interaction

      - run: poetry run poe ci:check
      - run: poetry run poe test
